@media only screen and (min-width: 768px) {
  .lg-sub-html {
    position: fixed;
    right: 0;
    width: 25vw;
    background-color: rgba(255, 255, 255, 0);
    bottom: 0;
    top: 0;
    margin-bottom: 25%;
    margin-top: 25%;
    opacity: 1 !important;
  }

  .lg-outer {
    width: 75vw;
  }
}

@media only screen and (max-width: 767px) {
  .lg-sub-html {
    position: fixed;
    right:0;
    width: 100vw;
    top: 4vh;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .lg-outer {
    width: 100vw;
  }
  .lg-outer .lg-object {
    vertical-align: bottom;
    bottom: 13vh;
    position: unset;
  }
}


.lg-toolbar-next:before {
  content: "\e094";
}
.lg-toolbar-prev:before {
  content: "\e095";
}

.und1 {
  text-decoration: underline #fffff8;
  text-underline-offset: -0.05rem;
  text-decoration-skip: spaces edges;
}

.und2 {
  text-decoration: line-through #111111 0.1rem;
}